//Basic Colors
$white: #fff;
$black: #111111;

//Theme
$theme-blue-800: #40436E;
$theme-blue-700: #484B7C;
$theme-blue-600: #50548A;
$theme-blue-500: #616595;
$theme-blue-400: #7376A1;
$theme-blue-300: #8487AD;
$theme-blue-200: #9698B8;
$theme-blue-100: #A7A9C4;
$theme-blue-50: #B9BAD0;

//Grays
$gray-1000: #333333;
$gray-900: #565656;
$gray-800: #676767;
$gray-700: #898989;
$gray-600: #9A9A9A;
$gray-500: #ACACAC;
$gray-400: #B4B4B4;
$gray-300: #BCBCBC;
$gray-200: #C4C4C4;
$gray-100: #D5D5D5;
$gray-50: #E6E6E6;

//Greens
$green-1000: #559F3C;
$green-900: #60B344;
$green-800: #6BC74C;
$green-700: #79CC5D;
$green-600: #88D26F;
$green-500: #97D781;
$green-400: #A6DD93;
$green-300: #B5E3A5;
$green-200: #C3E8B7;
$green-100: #D2EEC9;
$green-50:#E1F3DB;

//Reds
$red-1000: #B12A3C;
$red-900: #DB1F38;
$red-800: #DE354B;
$red-700: #E24B5F;
$red-600:#E56273;
$red-500:#E97887;
$red-400: #ED8F9B;
$red-300: #F0A5AF;
$red-200: #F4BBC3;
$red-100:#F7D2D7;
$red-50: #FBE8EB;