//Font Size

$font-size-header-xl: 1.5rem;
$font-size-header-lg: 1.375rem;
$font-size-header-md: 1.25rem;
$font-size-header-sm: 1rem;

$font-size-body-lg: 1rem;
$font-size-body-md: 0.845rem;
$font-size-body-sm: 0.725rem;
$font-size-body-xs: 0.625rem;

