@import './_colors.scss';
@import './_spacing.scss';
@import './fonts';

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: $sp-0;
    padding: $sp-0;
}

.checkbox {
    display: block;
    height: $sp-16;
    width: $sp-16;
    border: $sp-1 solid $gray-500;
    border-radius: $sp-4;

    &:hover { 
        background-color: $gray-50;
    }
}

/* Text Colors */
.text-green {
    color: $green-800;
}

.text-red {
    color: $red-800;

    &:hover {
        color: $red-1000;
    }
}

/* Buttons */
button {
    border-radius: $sp-4;
    height: $sp-32;
    font-size: $font-size-body-md;
    margin: $sp-8;
}

.primary-btn {
    background-color: $green-900;
    color: $white;

    &:hover {
        background-color: $green-1000;
    }
}

.base-btn {
    background-color: $theme-blue-500;
    color: $white;

    &:hover {
        background-color: $theme-blue-700;
    }
}

//Select

select {
    height: $sp-32;
    background-color: $white;
    border: $sp-1 solid $gray-500;
    font-size: $font-size-body-md;
    margin: $sp-8;
}

// Other Styles
.label {
    padding: 0 $sp-8;
}