@import '../assets/_colors.scss';

.Todo-container {
    background-color: $white;
    border: 1px solid $gray-500;
    border-radius: 8px;
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 8px;
    padding: 8px;
}

.Todo-header {
    border-bottom: 1px solid $gray-500;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.Todo-completed {
    flex: 1 0 20%;
}

.Todo-title {
    font-size: 1.25rem;
    font-weight: 700;
    flex: 0 1 80%;
    text-align: right;
    text-transform: capitalize;
}

.Todo-delete {
    align-self: flex-end;
}

.Todo-description {
    font-size: 0.845rem;
    line-height: 18px;
    padding:8px;
}